@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.otf");
} 
@font-face {  
  font-family:"SpaceGrotesk";
  src: url("fonts/SpaceGrotesk-Regular.otf");
}  
@font-face { 
  font-family:"Rokkitt";
  src: url("fonts/Rokkitt-Regular.ttf");
  
}

/*INDEX*/


.background{
  width :100%;
  height: 900px;
  object-fit: cover;
  object-position: center;

}

.navbar-nav> li{
  padding-left: 30px;
  padding-right: 30px;
  font-family:"Rokkitt";
}

.logo {
  width: 130px;
  height:130px;
  margin-top: 90px;
  margin-left: 50px;
  position: absolute;
  box-shadow:unset 5px 5px 2em rgb(46, 46, 46);
  -moz-box-shadow: 4px 4px 10px rgb(46, 46, 46);  
  -webkit-box-shadow: 4px 4px 10px rgb(46, 46, 46); 
}

.home{
  top: 400px; width:100%;
  position: absolute;
  display:block;
  margin : auto;
}

.h1-index{
  font-family:"SpaceGrotesk" ;
  font-size: 3rem;
  font-weight: 500;
  text-align:center;
  border-radius: 2px;
  color: black; 
  text-shadow:
 grey 1px 2px 10px;
  -webkit-text-stroke: 1.5px white ;
}

.profil{
  margin : 0 auto;
  height: 170px;
  width: 210px;
  box-shadow: grey 4px 4px 4px;
  
}

@media (max-width:767px) {
  .profil {
    margin : 0 auto;
    height: 150px;
    width: 190px;
  }
}

.title-section{
  font-family:"Rokkitt";
  text-shadow:grey 1px 2px 10px;
  color: hsla(212, 28%, 26%, 0.87);
}

.text-home{
  text-align: center;
  font-family: "Montserrat" ;
  font-size: 20px;
  margin-top: 10px;
  color:hsl(212, 28, 26,87%);
  font-weight:bold;
}

@media (max-width:767px) {
  .text-home {
    margin-top: 5px;
    font-size: 17px;
  }
}

.btn{
  font-family : "Montserrat";
}
/*GALERIE*/




/*TARIFS*/

.star{
  height: 20px;
  width:20px;
  }

/*CONTACT*/

.title-form{

  position:absolute;
  font-family:"Rokkitt";
  text-shadow:grey 1px 2px 10px;
  color: hsla(212, 28%, 26%, 0.87);


}








  /*FOOTER*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:black;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}
